h1{
    color:rgb(0, 23, 128);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

}

body{
    background-color: rgb(209, 31, 31);
    

}

.head {
    color:rgb(168, 32, 107);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

}

.brand{background-color: blue;
    text-align: center;
    padding: 19px 87px 31px 63px;
    margin-left: 60px;
    margin-top: 30px;
    

}


